@font-face {
  font-family: 'SuisseIntl';
  src: url('./fonts/SuisseIntl.woff');
}

@font-face {
  font-family: 'SuisseIntlLight';
  src: url('./fonts/SuisseIntl-Light.woff');
}

@font-face {
  font-family: 'SuisseIntlSemiBold';
  src: url('./fonts/SuisseIntl-SemiBold.woff');
}